:root {
  --main-bg-color: rgba(255, 255, 255, 0.8);
  --main-text-color: black;
  --completed-task-color: grey;
  --btn-color: teal;
  --btn-hover-color: darkcyan;
  --btn-hover-color-alt: lightseagreen;
  --btn-hover-color-complete: #e0a800;
  --btn-hover-color-back: #007bff;
  --empty-text-color: #1f460881;
  --alert-text-color: #0b4522;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1;
  background-image: url('background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
}

h1, h2, h3 {
  text-align: center;
}

h1{
  color: var(--main-text-color);
}

h2 {
  color: var(--alert-text-color);
}

h3 {
  color: var(--completed-task-color);
}


.container {
  margin: 30px auto;
  width: 30%;
  background-color: var(--main-bg-color);
  padding: 30px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .container {
    width: 50%;
  }
}

@media (max-width: 480px) {
  .container {
    width: 90%;
    padding: 20px;
  }
}

.new_task {
  width: 100%;
  margin: 0 auto;
}

.input-container {
  position: relative;
  width: 100%;
}

input[type="text"] {
  padding: 15px 10px;
  outline: none;
  width: calc(100% - 40px);
  flex: 1;
}

.btn-add {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 0 15px;
  border: none;
  color: white;
  font-family: fantasy;
  background-color: var(--btn-color);
  font-size: 1.4rem;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-add:hover {
  cursor: pointer;
  background-color: var(--btn-hover-color);
}

.li-container {
  background-color: var(--main-bg-color);
  width: 100%;
  color: var(--main-text-color);
  margin-top: 20px;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  background-color: var(--main-bg-color);
  margin: 0;
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

li:last-child {
  border-bottom: none;
}

.task-text {
  flex: 1;
  padding: 15px;
}

.task-text.completed {
  text-decoration: line-through;
  color: var(--completed-task-color);
}

.edit-input {
  padding: 15px;
  flex: 1;
  margin-right: 10px;
}

.btn-edit,
.btn-save,
.btn-delete,
.btn-complete,
.btn-back {
  margin-left: 10px;
  border: none;
  background: none;
  color: darkslategray;
  font-size: 1.2em;
  cursor: pointer;
}

.btn-edit:hover {
  color: #0056b3;
}

.btn-save:hover {
  color: #218838;
}

.btn-delete:hover {
  color: var(--btn-hover-color-alt);
}

.btn-complete:hover {
  color: var(--btn-hover-color-complete);
}

.btn-back:hover {
  color: var(--btn-hover-color-back);
}

.completed-task {
  background-color: var(--main-bg-color);
  text-decoration: line-through;
}

.empty {
  color: var(--empty-text-color);
  text-align: center;
  margin-top: 20px;
}

.empty h2 {
  font-weight: bold;
  font-size: 1.5em;
  color: var(--alert-text-color);
}

.completedTasks {
  background-color: var(--main-bg-color);
}
