body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  background-color: rgb(214, 214, 214);
  color: white;
}

h1,
h2 {
  text-align: center;
  color: rgb(0, 0, 0);
}

.container {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  padding: 30px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .container {
    width: 50%;
  }
}

@media (max-width: 480px) {
  .container {
    width: 90%;
    padding: 20px;
  }
}

.new_task {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.input-container {
  position: relative;
  width: 100%;
}

input[type="text"] {
  padding: 15px 10px;
  outline: none;
  width: calc(100% - 40px);
  flex: 1;
}

.btn-add {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 0 15px;
  border: none;
  color: white;
  font-family: fantasy;
  background-color: teal;
  font-size: 1.4rem;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-add:hover {
  cursor: pointer;
  background-color: darkcyan;
}

.li-container {
  background-color: white;
  width: 100%;
  color: darkslategray;
  margin-top: 20px;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  background-color: lightgray;
  border-radius: 10px;
  margin-top: 15px;
  display: flex;
  align-items: center;
  padding: 10px;
}

.task-text {
  flex: 1;
  padding: 15px;
}

.task-text.completed {
  text-decoration: line-through;
}

.edit-input {
  padding: 15px;
  flex: 1;
  margin-right: 10px;
}

.btn-edit,
.btn-save,
.btn-delete,
.btn-complete,
.btn-back {
  margin-left: 10px;
  border: none;
  background: none;
  color: darkslategray;
  font-size: 1.2em;
  cursor: pointer;
}

.btn-edit:hover {
  color: #0056b3;
}

.btn-save:hover {
  color: #218838;
}

.btn-delete:hover {
  color: lightseagreen;
}

.btn-complete:hover {
  color: #e0a800;
}

.btn-back:hover {
  color: #007bff;
}

.completed-task {
  background-color: #d3d3d3;
  text-decoration: line-through;
}

.empty {
  color: darkslategrey;
  text-align: center;
  margin-top: 20px;
}